body{

margin:0;
background:#101010;
color:white;
font-family:Arial;

}



.page{

height:100vh;
display:flex;
align-items:center;
justify-content:center;

}



.card{

background:#222;
padding:40px;
border-radius:20px;
text-align:center;
width:350px;

}



.online{

color:#00ff66;

}



.offline{

color:red;

}